server {
    listen 8001;
    server_name localhost;
    host 127.0.0.1;
    root www;
    client_max_body_size 3000000;
    index index.html;
    error_page 404 /error_pages/404.html;

    location / {
        methods GET;
        cgi .bla ./cgi_tester;
    }

    location /put_test/ {
        methods POST PUT;
    }

    location /post_body {
        methods POST;
        client_max_body_size 100;
    }

    location /routes/ {
        methods GET;
        alias www/routes/;
        index index.html;
    }

    location /routes/landing {
        methods GET;
        alias www/routes/landing/index.html;
    }
    
    location /routes/event-recap {
        methods GET;
        alias www/routes/event-recap/index.html;
    }

    location /method-guard/ {
        methods GET POST;
        alias www/method-guard/;
        index index.html;
    }

    location /directory/ {
        methods GET POST;
        cgi .bla ./cgi_tester;
        alias YoupiBanane;
        index youpi.bad_extension;
    }

    location /upload {
        methods POST;
    }

    location /delete {
        methods DELETE;
    }

}

server {
    listen 8002;
    server_name localhost;
    host 127.0.0.1;
    root www;
    client_max_body_size 3000000;
    index index.html;
    error_page 404 /error_pages/404.html;

    location /contact.html {
        alias www/contactalias/contact.html;
    }

    location /webinfo {
        alias www/webdev;
    }

    location /webdev {
        index info.html;
    }

    location /webdev/imgs {
        autoindex on;
    }

    location /the-b2b-imgs {
        return /webdev;
    }
}

server {
    listen 8003;
    server_name localhost;
    host 127.0.0.1;
    root www;
    client_max_body_size 3000000;
    index index/index.html;
    error_page 404 /error_pages/404.html;

    location /contact.html {
        root www/contactroot;
    }

    location /webdevelopment {
        alias /webdev;
    }
}
